* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'montserratregular';
}
main {
    flex-grow: 1;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*--------::selection delivery--------*/

.delivery {
    background-color: #212121;
    color: #FFFFFF;
}

.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 70px;
}

.delivery .title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 23px;
}

.delivery__title span {
    font-weight: normal;
}

.delivery__text {
    font-size: 21px;
    font-family: 'montserratlight';
}


/*--------::selection man woman--------*/


.men-woman .container {
    display: flex;
    flex-direction: row;
    background-color: #F9F6F1;
}

.man,
.woman {
width: 50%;
}

.man {
    background-color: #F9F6F1;
}

.woman {
    background-color: #F9E0E0;
}